<!DOCTYPE html />
<html lang="ch">
<head>
    <title><%if(config && config.title && config.title.value !=""){%><%=config.title.value%><%}else{%>找回密码 - <%=webName%><%}%></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <meta name="renderer" content="webkit"/>
    <link rel="stylesheet" type="text/css" href="@{res/css/common.css}@" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@{res/css/login.css}@" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@{res/css/login_custom.css}@" rel="stylesheet" />
    <%if(productionMode){%>
    <script src="/resources/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/resources/jquery.validate.min.js"></script>
    <script src="/resources/jquery.form.js" type="text/javascript"></script>
    <script src="@{res/js/artTemplate.js}@" type="text/javascript"></script>
    <script type="text/javascript">
        var rappId = "<%=_appId_%>",normalWebSite = "<%=normalWebSite%>",result=<%=#result%>;
        var pageId = "<%=_pageId_%>",mid="<%=_m_%>";
    </script>
    <script type="text/javascript" src="@{res/js/find_password.js}@"></script>
    <%}%>
</head>
<body class="payBg">
<%=#importUrl("/login_header.html")%>
<div class="center">
    <div class="panel signInSignOutPanel">

        <div class="panelBd PasswordFind">
            <!-- ProgressBar -->
            <div class="ProgressBar pt20">
                <ul>
                    <li class="activeTwo">
                        <span>1</span>
                        <p>填写用户名</p>
                    </li>
                    <li class="">
                        <span>2</span>
                        <p>验证身份</p>
                    </li>
                    <li>
                        <span>3</span>
                        <p>设置新密码</p>
                    </li>
                    <li>
                        <span>4</span>
                        <p>完成</p>
                    </li>
                </ul>
            </div><!-- end ProgressBar -->

            <div class="UserSignIn" id="page_block">



            </div>
        </div>
    </div>
</div>

<script id="step1_template" type="text/html">
    <form id="findPwdForm" action="" method="post" autocomplete="off">
        <input type="hidden" name="token" value="<%=token%>"/>
        <div class="passwordFindFormBody">
            <p class="" style="padding-top: 67px;">
                <label for="">用户名 :</label><input name="loginKey" class="textInput username" placeholder="输入手机号/邮箱/用户名" tabindex="1"/>
            </p>
            <p class="mt15 aptchaWrap">
                <label for="">验证码 : </label><input name="captcha" class="textInput aptcha" placeholder="填写验证码"maxlength="4" tabindex="2"/>
                <a href=""><img src="/ValidateCode" class="captchaImg" width="90" height="30"></a>
                <a href="javascript:;" id="flushCode">看不清，换一张？</a>
            </p>
        </div>
        <p><label for="">&nbsp;</label><button type="submit" class="SignInBtn btnPrimary">下一步</button></p>
    </form>
</script>
<script id="step2_email_template" type="text/html">
    <div class="passwordFindFormBody">
        <p class="phoneaptcha has-error" style="padding-top: 56px">
        {{if noEmail}}
        <h2 class="f24"><label for="">&nbsp;</label>抱歉，您的账号没有设置邮箱。</h2>
        {{else}}
        <h2 class="f24"><label for="">&nbsp;</label>邮箱地址: {{showEmail}}</h2>
        {{/if}}
        </p>
        <p class="UserLoginFt mt40"><label for="">&nbsp;</label><span>您也可以通过手机验证进行密码更改</span> <a class="Plink" href="?k={{skey}}&t=2">手机验证</a></p>
    </div>
    {{if !noEmail}}
    <p><label for="">&nbsp;</label><a id="btnSendEmail" class="SignInBtn btnPrimary" href="javascript:;" skey="{{skey}}" pageId="<%=_pageId_%>" mid="<%=_m_%>">发送验证邮件</a></p>
    {{/if}}
</script>
<script id="step2_mobile_template" type="text/html">
    <div class="passwordFindFormBody">
        <p class="phoneaptcha has-error" style="padding-top: 35px">
        {{if noMobile}}
        <h2 class="f24"><label for="">&nbsp;</label>抱歉，您的账号没有设置手机。</h2>
        {{else}}
        <h2 class="f24"><label for="">&nbsp;</label>手机: {{showMobilePhone}}</h2>
        {{/if}}
        </p>
        {{if !noMobile}}
        <p class="phoneaptcha" style="" id="validateCodeBlock">
            <label for="">&nbsp;</label><input class="textInput" id="validateCode" placeholder="输入验证码">
            <a href="javascript:;" id="getValidateCode" skey="{{skey}}">获取短信验证码</a>
        </p>
        {{/if}}
        <p class="UserLoginFt mt10"><label for="">&nbsp;</label><span>若当前号码已不用/丢失，或无法收到验证码？</span> <a class="Plink" href="?k={{skey}}&t=1">邮箱验证</a></p>
    </div>
    <p><label for="">&nbsp;</label><a class="SignInBtn btnPrimary" href="javascript:;" id="checkValidateCode" skey="{{skey}}">下一步</a></p>
</script>
<script id="step2_msg_template" type="text/html">
    <div class="passwordFindFormBody">
        <p class="phoneaptcha" style="padding-top: 35px;">
        <h2 class="f24"><label for="">&nbsp;</label>验证邮件发送成功！请立刻完成验证！</h2>
        <p class="f14 c666" style="margin-top: -8px;"><label for="">&nbsp;</label>验证邮件{{validTime}}小时内有效, 请尽快登陆您的邮箱点击验证链接进行新密码的设置</p>
        </p>
        <p class="UserLoginFt mt40"><label for="">&nbsp;</label><span>您也可以通过手机验证进行密码更改</span> <a class="Plink" href="?k={{skey}}&t=2">手机验证</a></p>
    </div>

    <p><label for="">&nbsp;</label><a class="SignInBtn btnPrimary " href="{{emailLoginLink}}" target="_blank">查看验证邮箱</a></p>
</script>

<%=#importUrl("/login_footer.html?ptype=login")%>
</body>
</html>