@charset "utf-8";
/* CSS Document */

.list{ }
.col_sub{ float:left; width:220px;}
.col_main{ float:right; width:980px;}


/*左侧分类*/
.mod_category{ border-top:#c31d85 2px solid; }
.mod_category h2{ background:#eee; border:#e6e6e6 1px solid; border-bottom:0; height:38px; font:16px/38px microsoft yahei; text-align:center; position:relative; z-index:99;}
.mod_category h2 i{ background:url(@{res/images/list_icon.png}@) no-repeat 0px 0px; width:11px; height:6px; overflow:hidden; position:absolute; left:47%; top:33px;}

.mod_category .item{ }
.mod_category .item h3{ border:#e6e6e6 1px solid; margin-bottom:-1px;  height:33px; font:14px/33px 宋体; padding:0 0 0 30px; position:relative;}
.mod_category .item h3 a{ color:#333;}
.mod_category .item h3 a:hover{ color:#c31d85; text-decoration:none;}
.mod_category .item h3 b{ background:url(@{res/images/list_icon.png}@) no-repeat 0px -227px; width:9px; height:10px; overflow:hidden; position:absolute; right:16px; top:10px; cursor:pointer;}
.mod_category .item.show h3 b{ background-position:-16px -227px;}
.mod_category .item.show h3 a{ color:#c31d85;}
.mod_category .item ul{display: none }
.mod_category .item.show ul{display: block}

.cate_son{ border:#e6e6e6 1px solid; border-bottom:0; background:#fafafa; margin:0 0 0 9px; position:relative;}
.cate_son span.arrow{ background:url(@{res/images/list_icon.png}@) no-repeat 0px -260px; width:9px; height:9px; overflow:hidden; position:absolute; left:-9px; top:0;}
.cate_son ul{ }
.cate_son ul li{ padding:0 0 0 35px; line-height:34px; color:#666; height:34px; border-bottom:#dadada 1px dashed; margin-bottom:-1px; vertical-align:top; overflow:hidden; position:relative;}
.cate_son ul li em{ background:url(@{res/images/list_icon.png}@) no-repeat 0px -245px; width:7px; height:7px; overflow:hidden; position:absolute; left:20px; top:12px;}
.cate_son ul li a{ color:#333;}
.cate_son ul li a:hover{ text-decoration:none; color:#c31d85;}
/*end 左侧分类*/


.mod_rank h2,.mod_commend h2,.mod_browse h2{ font:bold 14px/38px 宋体; height:38px; padding:0 10px 0 14px; background:#f7f7f7; border-bottom:#e6e6e6 1px solid;}
.mod_browse h2 a{ float:right; font:12px/38px 宋体; color:#666;}


/* 热卖商品*/
.mod_commend{ border:#e6e6e6 1px solid; margin:10px 0 0 0;}
.mod_commend .box{ width:100%; overflow:hidden; }
.mod_commend li{ border-top:#ccc 1px dotted; margin-top:-1px; height:235px; overflow:hidden;}
.mod_commend li .pic{ width:140px; height:140px; margin:20px auto 8px; overflow:hidden;}
.mod_commend li .name{ line-height:18px; height:36px; margin:0 20px 3px; overflow:hidden;}
.mod_commend li .price{ margin:0 20px 6px; color:#fc302d; font:bold 14px arial;}
/* end 热卖商品*/


/* 一周销量排行榜*/
.mod_rank{ border:#e2e2e2 1px solid; margin:10px 0 0 0;}
.mod_rank .box{ width:100%; overflow:hidden;}
.mod_rank li{ height:36px; line-height:36px; border-top:#e0e0df 1px solid; margin:-1px 0 0 0; padding:0 0 0 8px; overflow:hidden;}
.mod_rank li.cur{ width:100%; height:84px; border-top:#e0e0df 1px solid;}
.mod_rank li.cur .pic{ float:left; display:inline; margin:12px 10px 0 0; width:60px; height:60px; overflow:hidden; position:relative;}
.mod_rank li.cur .cont{ float:left; display:inline; margin:10px 0 0 0; width:100px;}
.mod_rank li.cur .cont .name{ line-height:18px; height:36px; margin:3px 0 6px 0; overflow:hidden;}
.mod_rank li.cur .cont .saleNum{ line-height:14px; color:#999; margin:0 0 8px;}
.mod_rank li.cur .cont .price{ color:#fc302d; font:bold 14px arial;}
.mod_rank li b{ float:left; font:bold 12px/18px arial; color:#ccc; margin:9px 5px -2px 0; border-radius:15px; background:#fff; border:#cfcfcf 1px solid; width:18px; height:18px; text-align:center;}
.mod_rank li.sel b,.mod_rank li.cur b{ border:#d24027 1px solid; color:#d24027;}
/* end 一周销量排行榜*/

/* 浏览过的商品*/
.mod_browse{ border:#e6e6e6 1px solid; margin:10px 0 0 0;}
.mod_browse .box{ width:100%; overflow:hidden;}
.mod_browse li{ width:100%; height:80px; border-top:#ccc 1px dotted; margin:-1px 0 0 0;  overflow:hidden;}
.mod_browse li .pic{ float:left; display:inline; margin:10px 6px 0 10px; width:60px; height:60px; overflow:hidden; position:relative;}
.mod_browse li .cont{ float:left; display:inline; margin:10px 0 0 0; width:110px;}
.mod_browse li .cont .name{ line-height:18px; height:36px; margin:3px 0 6px 0; overflow:hidden;}
.mod_browse li .cont .price{ color:#fc302d; font:bold 14px arial;}
/* end 浏览过的商品*/

/*  商品推荐*/
.hotsell{ border:#e6e6e6 1px solid; border-top:#d2d2d2 2px solid; height:248px;}
.hotsell h2{ font:bold 14px/38px 宋体; height:38px; padding:0 10px 0 14px; background:#f7f7f7;}
.hotsell .box{  padding:30px 0 0 20px;}
.hotsell li{ float:left; width:318px; height:150px; overflow:hidden;}
.hotsell li .pic{ float:left; display:inline; margin:0px 10px 0 0px; width:150px; height:150px; overflow:hidden; position:relative;}
.hotsell li .cont{ float:left; display:inline; margin:20px 0 0 0; width:140px;}
.hotsell li .cont .name{ line-height:18px; height:36px; margin:3px 0 10px 0; overflow:hidden;}
.hotsell li .cont .price{ color:#fc302d; font:bold 14px arial; margin:0 0 12px;}
.hotsell li .cont .btn{ }
.hotsell li .cont .btn a{ display:inline-block; background:url(@{res/images/list_icon.png}@) repeat-x 0px -161px; border:#ff0101 1px solid; padding:0 8px; font:bold 12px/25px 宋体; color:#fff;}
/* end 商品推荐*/


/*类型选择*/
.relevant_search { padding:12px 0 3px; height:14px; overflow:hidden;}
.relevant_search a{ display:inline-block; padding:0px 8px 0; *padding:0px 4px 0 8px; border-right:#bdbcbc 1px solid; color:#005aa0;}

.choose{ border:#e6e6e6 1px solid; border-top:#d2d2d2 2px solid; margin:10px 0 0 0;}
.search_result{ background:#f7f7f7; line-height:32px; height:32px; border-bottom:#e6e6e6 1px solid; padding:0 10px; font:14px/32px microsoft yahei;}
.search_result b{ color:#ff0400;}
.search_result span{ color:#999; font-size:12px; font-family:arial; margin:0 0 0 10px;}

.chooseList{ border-bottom:1px dotted #ccc; position:relative; padding-left:84px; overflow:hidden;}
.chooseList div{ float:left; padding-top:10px;}
.chooseList .type{ width:84px; text-align:right; background:#f6f6f6; height:100%; padding-right:5px; color:#999; position:absolute; left:0; top:0;_height:100px;}
.chooseList .each{ width:829px; padding-top:8px; padding-left:8px;}
.chooseList .each a{ display:inline-block; padding:0 4px; height:19px; line-height:19px; margin-left:3px; margin-bottom:8px}
.chooseList .each .cur{ background:#c31d85; color:#fff;}
.chooseList .more{ width:46px;  padding-left:8px;}
.chooseList .more a{ padding-right:20px;color:#999;}
.chooseList .more a:hover{ color:#000; text-decoration:none;}
.chooseList .more .open{ background:url(@{res/images/list_icon.png}@) no-repeat 30px -20px; }
.chooseList .more .close{ background:url(@{res/images/list_icon.png}@) no-repeat 30px -44px; }
.choose .last{ border:none}
/*end 类型选择*/


/*筛选排序*/
.tool{ border:#e6e6e6 1px solid; background:#fafafa; margin:10px 0 0 0; box-shadow: -1px 0px 6px #ddd; }
.toolsort li i,.toolpage i{  background:url(@{res/images/list_icon.png}@) no-repeat;}


/*  相关搜索*/
.result_key_notfound{background: none repeat scroll 0 0 #f2f2f2;border: 1px solid #E6E6E6;color: #333333;font-size: 14px;font-weight: bold;margin-bottom: 10px;padding: 25px 20px;}
.result_key_notfound .search_result{padding:0 0 10px 0;}
/* end 相关搜索*/

/*排序*/
.toolsort{ width:600px;}
.toolsort li{ float:left;border-right:1px solid #e6e6e6;}
.toolsort li i{ position:absolute; width:7px; height:8px; background-position:0 -75px; right:17px; top:14px;top:12px \9;}
.toolsort li a{ float:left; padding:0px 20px; position:relative; text-decoration:none; height:32px; line-height:32px;}
.toolsort li a:hover{ text-decoration:none;}
/*.toolsort li a:hover i{ background-position:-9px -75px;}
*/.toolsort li .sell,.toolsort li .price{ padding-right:32px;}
.toolsort li .curdown,.toolsort li .curup,.toolsort li .cur{ background-color:#c31d85; color:#fff;}
.toolsort li .curdown i{ background-position:-9px -75px;*background-position:-9px -75px;}
.toolsort li .curup i{ background-position:-18px -75px;}
/*.toolsort li .curup:hover i{ background-position:-18px -75px;}*/
.toolsort li.price{ position:relative; z-index:33;}
.toolsort li.price dl{ position:absolute; left:-1px; top:0; width:145px; padding:4px 10px; padding-bottom:5px;border:1px solid #e6e6e6;}
.toolsort li.price dt{ padding-top:10px}
.toolsort li.price span,.toolsort li.price em{ display:inline-block; vertical-align:middle}
.toolsort li.price em{ width:4px;}
.toolsort li.price span{ height:20px; line-height:20px; border:1px solid #d4d4d4; background:#fff; padding:0 5px; width:55px;}
.toolsort li.price span input{ width:40px; margin-left:4px; border:0;}
.toolsort li.price a{ float:right; width:44px; height:23px; line-height:23px; padding:0;}
.toolsort li.price .but1{ margin-left:5px;}

.but1,.but2{ display:inline-block; width:48px; height:23px; text-align:center; color:#fff; line-height:23px; border:1px solid #ff0101; text-decoration:none; font-weight:bold}
.but1:hover{ color:#fff; text-decoration:none}
.but2:hover{ color:#000; text-decoration:none}
.but1{ background:#ff4e4e;}
.but2{ background:#fff; border:1px solid #cdcdcd; color:#000;}



.switch{ margin:0px 10px 0 6px; border-right:#ddd 1px solid; background:#fff;}
.switch li{ float:left; }
.switch li i{ position:absolute; width:16px; height:16px; left:11px; top:11px; background:url(@{res/images/list_icon.png}@) no-repeat 0 -301px; overflow:hidden;}
.switch li a{ float:left; display:block; width:38px; height:35px; position:relative; text-decoration:none; }
.switch li a:hover{ text-decoration:none}
.switch li a{ }

.switch li .switch_g i{ background-position:0 -301px; width:16px; height:16px;}
.switch li .switch_g.cur{  background-color:#c31d85;}
.switch li .switch_g.cur i{ background-position:0 -282px;}
.switch li .switch_l i{ background-position:0 -325px;}
.switch li .switch_l.cur{ background-color:#c31d85;}
.switch li .switch_l.cur i{ background-position:0 -347px;}


/*end 排序*/

.toolsearch{ width:176px; border:1px solid #d4d4d4; background:#fff; height:19px; line-height:19px; margin:6px 10px 0 0;}
.toolsearch span,.toolsearch em{ display:inline-block; vertical-align:top}
.toolsearch span{ border-right:1px solid #d4d4d4; width:134px; height:19px;}
.toolsearch span input{ width:128px; color:#ccc; height:14px; margin:2px 0 0 4px; border:0;}
.toolsearch em{ width:40px; text-align:center;}

/*上下页*/
.toolpage{  padding-top:5px; padding-right:10px;}
.toolpage span,.toolpage a{ display:inline-block; text-decoration:none;}
.toolpage span{ padding-right:5px}
.toolpage a{ width:58px; height:20px; line-height:20px; border:1px solid #e6e6e6; background:#fff; text-decoration:none; position:relative}
.toolpage i{ position:absolute; width:5px; height:9px; top:6px;}
.toolpage .pre{ text-indent:12px;}
.toolpage .pre i{  left:4px; background-position:-6px -100px;}
.toolpage .next{ text-indent:10px;}
.toolpage .next i{  right:4px; background-position:0 -129px;}
.toolpage .prenull,.toolpage .nextnull{ color:#ccc;}
.toolpage .prenull:hover,.toolpage .nextnull:hover{ color:#ccc;}
.toolpage .prenull i{ background-position:0 -100px;}
.toolpage .nextnull i{ background-position:-6px -129px;}
/*end 上下页*/

/*end 筛选排序*/

/*商品列表*/
.proList{ margin:0px 0 0 0; }
.proList ul{ float:left; display:inline; margin:0 0 0 -14px; overflow:hidden;}
.proList li{ float:left; margin:10px 0 0 14px; display:inline; width:200px; height:340px; padding:0px 15px; border:2px solid #fff;  }
.proList li:hover{ border:2px solid #e5e3e3;}
.proList li .pic{ margin:8px 0 6px; width:200px; height:200px; overflow:hidden;}
.proList li .name{ line-height:18px; height:36px; margin:0px 0 8px 0; overflow:hidden;}
.proList li .price{ color:#fc302d; font:bold 14px arial;}
.proList li .shop{ color:#666; text-decoration:underline;}
.proList li .shop a{ color:#666;}
.proList li .disc{ width:100%; margin:8px 0; overflow:hidden; }
.proList li .c_num,.proList li .c_num a{ color:#005aa0; }
.proList li .btns{ }
.proList li .btns a,.proList2 li .btns a,.scroll_con li .cont .btn_compare{ display:inline-block; float: left; height: 21px; line-height: 21px; padding: 0px 10px; *padding: 0px 8px;  background:#f7f7f7;  border: 1px solid #ddd; border-radius: 2px; margin: 0 4px 0 0;  text-align: center; color: #333; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#f2f2f2");-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#f2f2f2")"; white-space:nowrap;}
.proList li .btns a:hover,.proList2 li .btns a:hover{ text-decoration:none;}

.proList li a.btn_compare,.proList2 li a.btn_compare,
.scroll_con li .cont .btn_compare{  position: relative; padding: 0 10px 0 25px; margin-right: 0; cursor: pointer;}

.proList li a.btn_compare span,.proList2 li a.btn_compare span,
.scroll_con li .cont .btn_compare span{ position: absolute; left: 9px; top: 5px; width: 11px; height: 11px; margin-right: 0; background:url(@{res/images/list_icon.png}@) no-repeat 0 -370px; font-size: 0;}
.proList li a.btn_compare.cur,.proList2 li a.btn_compare.cur,
.scroll_con li .cont .btn_compare.cur{ background-color: #E74649;  border:#E74649 1px solid;  border-radius: 2px; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e03235", endColorstr="#e64346");-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr="#e03235", endColorstr="#e64346")"; color:#fff;}

.proList li a.btn_compare.cur span,.proList2 li a.btn_compare.cur span,
.scroll_con li .cont .btn_compare.cur span{ background-position:0 -382px;}

/*end 商品列表*/



/* 商品列表_小图*/
.proList2{ width:100%; margin:10px 0 0 0; overflow:hidden;}
.proList2 ul{ float:left; display:inline; margin:0 0 0 -40px; overflow:hidden;}
.proList2 li{ float:left; display:inline; margin:0px 0 0 40px; width:465px; height:125px; border:#fff 2px solid;  border-bottom:#ccc 1px dashed; margin-bottom:1px; overflow:hidden; cursor:pointer; vertical-align:top;}
.proList2 li.cur,.proList2 li:hover{ border:#e5e3e3 2px solid; margin-bottom:0;}
.proList2 li .pic{ float:left; display:inline; margin:15px 10px 0 15px; width:90px; height:90px; overflow:hidden;}
.proList2 li .cont{ float:left; width:350px; margin:12px 0 0 0;}

.proList2 li .name{ line-height:18px; height:18px; margin:0px 0 5px 0; overflow:hidden;}
.proList2 li .price{ color:#fc302d; font:bold 14px arial;}
.proList2 li .shop{ color:#666; text-decoration:underline;}
.proList2 li .shop a{ color:#666;}
.proList2 li .disc{ width:100%; margin:8px 0; overflow:hidden; }
.proList2 li .c_num{ color:#005aa0; margin:0 0 0 15px; }
.proList2 li .c_num a{ color:#005aa0; }




/*end 商品列表_小图*/


.page{ padding:20px 0; height:25px;}


/*对比栏*/
.pop_compare{ display: none; position: fixed; /*bottom: -200px; right: 50%; margin-right: -495px;*/ z-index: 100; width: 980px; height: 139px; background: white;
-moz-box-shadow: 0 0 15px rgba(221,221,221,.8); -webkit-box-shadow: 0 0 15px rgba(221, 221, 221, .8); box-shadow: 0 0 15px rgba(221, 221, 221, .8);}
.pop_inner{ height:133px;}


.pop_inner .tabmenu{ position:relative;}

.pop_inner .tabmenu .tabs{ height: 32px; border: 1px solid #DDD; border-bottom: 2px solid #74ba4c; _overflow: hidden;}
.pop_inner .tabmenu .tabs li{ float:left;}
.pop_inner .tabmenu .tabs a{ float: left; display:block; position: relative; width: 80px; height: 30px; line-height: 30px; text-align: center; font: 14px/30px 'microsoft yahei'; color:#666;}
.pop_inner .tabmenu .tabs a.cur{ position: relative; left: -1px; margin-top: -4px; height: 36px; background: white; border: 2px solid #7ABD54; color:#6aaf43; border-bottom: 0;}
.pop_inner .tabmenu .tabs a:hover{ text-decoration:none;}

.pop_inner .operate { width: 190px; text-align: right; position: absolute; right: 0; top: 0; padding-right: 22px; height: 32px; line-height: 32px; clear: both;}
.pop_inner .operate a{ color:#005aa0;}

.pop_inner .mc{ position: relative;} 
.pop_inner .tabCon{ border: 2px solid #7ABD54; border-top: 0;}
.pop_inner .diff_items{ padding: 10px 0; color: #ccc; height: 90px; overflow: hidden;}
.pop_inner .diff_items dl{ float: left; overflow: hidden; padding: 17px 10px 12px 0; height:60px; width:200px; border-right: 1px dotted #7ABD54;}
.pop_inner .diff_items dl dt{ float: left; margin:0 10px; width: 50px; height: 50px; text-align: center; overflow: hidden;}
.pop_inner .diff_items dl dd{ float:left; width:130px;}
.pop_inner .diff_items dl dd .name{ line-height:18px; height:36px; overflow:hidden; }
.pop_inner .diff_items dl dd .disc{ margin:4px 0 0 0;}
.pop_inner .diff_items dl dd .disc .price{ color:#fc302d; font:bold 14px arial;}
.pop_inner .diff_items dl dd .disc .del{ color:#005aa0; margin:0 0 0 8px;}

.pop_inner .diff_items dl.item_empty dt { float: left; margin-right: 5px; width: 48px; height: 48px; text-align: center; color: #ccc; background:#f6f6f6; font: 36px/48px arial; overflow: hidden;}


.diff_operate{ position: absolute; right: 22px; top: 22px; width: 85px; text-align: center;}
.diff_operate .btn_compare_b{ display:block; border: 0; color: white; background-color: #E74649;width: 59px; height: 30px; font: 700 14px/30px verdana; margin-left: 13px; margin-bottom: 11px;border-radius: 3px; 
background-image: -ms-linear-gradient(top,#E74649 0,#DF3033 100%);
background-image: -moz-linear-gradient(top,#E74649 0,#DF3033 100%);
background-image: -o-linear-gradient(top,#E74649 0,#DF3033 100%);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#E74649),color-stop(1,#DF3033));
background-image: -webkit-linear-gradient(top,#E74649 0,#DF3033 100%);
background-image: linear-gradient(to bottom,#E74649 0,#DF3033 100%);
cursor: pointer;}
.diff_operate .del_items{ color:#005aa0; }

.scroll_item{ position: relative; height: 90px; padding:10px 0;}
.scroll_item .sb_prev,.scroll_item .sb_next{ position: relative; display:inline-block;  background:url(@{res/images/list_icon.png}@) no-repeat 0 -398px; width:13px; height:23px; position:absolute; top:38px;}
.scroll_item .sb_prev{ left:10px;}
.scroll_item .sb_next{ right:10px; background-position:0 -424px;}

.scroll_con{ width:905px; margin:0 auto; height:90px; overflow:hidden;}
.scroll_con li{ float:left; width:212px; padding: 17px 10px 12px 0; height:60px; border-right: 1px dotted #7ABD54;}
.scroll_con li .pic{ float: left; margin:0 10px 0 15px; width: 50px; height: 50px; text-align: center; overflow: hidden;}
.scroll_con li .cont{ float:left; width:130px;}
.scroll_con li .cont .name{ line-height:18px; height:36px; overflow:hidden; }
.scroll_con li .cont .disc{ margin:4px 0 0 0;}
.scroll_con li .cont .disc .price{ float:left; margin:3px 5px 0 0; color:#fc302d; font:bold 14px arial;}
.scroll_con li .cont .btn_compare{ }

/*end 对比栏*/
