.UserSignIn .SignInBtn{
    border-left: 0 none;border-right: 0 none;cursor: pointer;
}

.help-block{
    display: block;
    color: #aaa;
}

.has-error .help-block{
    color: #e14041;
}

.registerEmail .Plink{
    display: inline-block;
}
.UserSignIn .operatePw .checkbox{
    top:-1px;
}

.protocolPanel #protocol-con{
    overflow-y: scroll;
}
.protocolPanel .protocol-content{
    margin-top: 0;
}

.operatePw.form-group .help-block{
    font-size: 16px;
    padding: 5px 0;
}

.signIn_adv{
    position: absolute;
    left:100px;
    top: 30px;
    background: url(@{res/images/signIn_adv.jpg}@) no-repeat 0px 0px;
    width: 370px;
    height: 320px;
    z-index: 99;
}

.UserSignIn .aptchaWrap a{
    color:#333;
}

