html {
    min-height: 100%;
    height: 100%;
    _height: 100%;
    padding:0px;
    margin:0px;
    border:0px;

}

body {
    min-height: 100%;
    height: 100%;
    _height: 100%;
    padding:0px;
    margin:0px;
    border:0px;

}

#main {
    min-height: 95%;
    height: 99%;
    _height: 99%;
    padding:0px;
    margin:0px;
    border:0px;

}

#header {
    min-height: 30px;
    height: 30px;
    _height: 30px;
    padding:0px;
    margin:0px;
    border:0px;
    background: #438eb9;
    position:fixed;
    bottom:20px;
    width:100%
}

#appName {
    color : white;
    margin-left:30px;
    display:block;
    padding-top:3px;
    font-weight: bold;
}


#mask {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: .5;
    position:absolute;
    width:4000;
    height:4000;
    z-index:100;
    background-color: #d6f0b3;
}

.table-header {
    background-color: #444444;
    color: #aaaaaa;
    font-size: 14px;
    line-height: 38px;
    padding-left: 12px;
    margin-bottom: 0px;
}

td.selectedItem{
    color: #000;
    background-color: #f7f0ae;
    border-color: #f7f0ae;
}
td.sameLineItem{
    color: #737209;
    background-color: #f76e19;
    border-color: #f7f0ae;
}
